@tailwind base;
@tailwind components;
@tailwind utilities;

.table-container {
  margin-top: 1rem;
}

.table-container th,
.table-container td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.table-container th {
  background-color: #f4f4f4;
  font-weight: bold;
} 

.table-container td {
  border: 1px solid #ddd;
}
