@import '@fontsource/oxygen/index.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.table-container, .company-table-container {
  margin-top: 1rem;
}

.table-container th,
.table-container td,
.company-table-container td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.table-container th {
  background-color: #f4f4f4;
  font-weight: bold;
} 

.table-container td, .company-table-container td {
  border: 1px solid #ddd;
}

.company-table-container td{
  background-color: white;
  text-align: center;
}

.company-table-container th{
  background-color: #3b82f6;
  color: white;
  text-align: center;
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.company-row:hover td {
  background-color: #91bafc !important;
}

@media (max-width: 1300px) {
  table{
    width: 100% !important;
  }

  .total-price{
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }

  #bill-form-container > form > div{
    text-align: left;
  }

  #bill-form-container > form > div > input {
    width: 100% !important;
  }

  .edit-bill-form > div > input {
    width: 100% !important;
  }
  
  .edit-bill-form > div, #bill-form-container{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .checkbox-label{
    text-align: center !important;
  }
}